

*{
    margin: 0;
    padding: 0;
}





header {
  background-color: var(--background-terciary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  
}

.logo {
  width: 68px;
  height: 68px;
  display: inline-block;
  margin: 37px 0 0 48px;
}

nav{
    display: none;
}

.navegation-menu {
  margin-top: 24px;
}
